/*
 * Copyright 2024 CodeMC.io
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
 * documentation files (the "Software"), to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
 * and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial
 * portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE
 * OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

:root {
    --bg: #2b2b2b;
    --bg-2: #4c4c4c;
    --bg-3: #191919;
    --bg-gradient: linear-gradient(140deg, var(--bg), var(--bg-2));
    --bg-gradient-2: linear-gradient(140deg, var(--bg), var(--bg-3));
    --bg-gradient-3: linear-gradient(140deg, var(--bg-3), var(--bg));
    --shadow: 0 10px 20px -5px rgb(0, 0, 0);
    --text-color: #fff;
    --link-color: #ee0000;
}

html {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: var(--bg);
    overflow-y: hidden;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--text-color);
    margin: 0;
    position: relative;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

/* Page */
.section {
    width: 100%;
}

div .section {
    border-top: 2px solid black;
    padding-top: 4vh;
}

div .section:nth-child(even) {
    background: var(--bg-gradient-2);
}

div .section:nth-child(odd) {
    background: var(--bg-gradient-3);
}

.section:not(:last-child) {
    padding-bottom: 70vh;
}

.section:last-child {
    padding-bottom: 50vh;
}

.section p {
    padding: 0 2vw;
}

.section h1 {
    margin: 0;
}

.section-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2vw;
}

.section-links a {
    font-weight: bold;
    padding: 8px;
    height: min-content;
    text-align: center;

    background: var(--bg-gradient);
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: var(--shadow);

    transition: transform 1s ease-in-out;
}

.section-links a:hover {
    transition: transform 1s ease-in-out;
    transform: scale(1.2);
}

.section-icons {
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4vw;
    padding: 0 2vw;
}

.section-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    max-width: 128px;
    max-height: 128px;
    width: 17vw;
    height: auto;

    background: var(--bg-gradient);
    border-radius: 4px;
    padding: 1vw;
    border: 1px solid black;
    box-shadow: var(--shadow);

    transition: transform 0.5s ease-in-out;
}

.section-icons img {
    min-width: 24px;
    min-height: 24px;
    max-width: 96px;
    max-height: 96px;
    width: 90%;
    height: auto;
}

.section-icons a:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.section-icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-icons p {
    font-size: medium;
    margin-bottom: 0;
}

.section-icons span {
    font-weight: bold;
    font-size: large;
}

.logo {
    min-width: 64px;
    min-height: 64px;
    width: 6%;
    height: auto;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--bg-gradient);
    box-shadow: var(--shadow);

    border-radius: 10px;
    border: 1px solid #1a1a1a;
    margin: 4vh auto 0;
    padding: 8px;
    transition: transform 0.5s ease-in-out;
}

.box:hover {
    transform: rotateZ(3deg) rotateY(10deg) scale(1.05);
    transition: transform 0.5s ease-in-out;
}

footer {
    background: var(--bg-3);
    border-top: 2px solid black;
}

footer a {
    color: greenyellow;
}

/* Utilities */
.round {
    border-radius: 50%;
    border: 2px solid white;
}