---
layout: default
---

<div class="section">
    <img id="codemc" src="/assets/codemc-red.png" alt="CodeMC Logo" class="box logo" title="{{ site.title }}">
    <h1>{{ site.title }}</h1>
    <p>{{ page.description }}</p>

    <div class="section-links">
        {% for section in site.data.index.sections %}
        <a href="#{{ section.id }}">{{ section.name }}</a>
        {% endfor %}
    </div>
</div>

<div>
    {% for section in site.data.index.sections %}
    <div class="section">
        <h1 id="{{ section.id }}">{{ section.name }}</h1>
        <p>{{ section.body }}</p>

        <div class="section-icons">
            {% for link in section.links %}
            <div>
                <a href="{{ link.url }}" title="{{ link.name }}">
                    <img src="/assets/{{ link.img }}" alt="{{ link.name }}" {% if link.round %} class="round" {% endif %}>
                </a>
                {% if section.show_name %}
                <p>{{ link.name }}</p>
                {% endif %}

                {% if link.title %}
                <span>{{ link.title }}</span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>